<footer class="footerContainer">
  <address class="footerContainer__adress">
    Hi-Fi Corner <br />Edinburgh 22 Joppa Road EH15 2EU <br />Falkirk 44 Cow
    Wynd FK1 1PU
  </address>
  <div class="footerContainer__returnprivacyContainer">
    <a href="" class="footerContainer__returns">Returns & Refunds</a>
    <p class="footerContainer__space">|</p>
    <a href="" class="footerContainer__privacy">Privacy Policy</a>
  </div>
  <img
    src="/assets/images/background/pay_logos.png"
    alt=""
    class="footerContainer__img"
  />
  <div class="footerContainer__someContainer">
    <a href="https://www.facebook.com/" class="someContainer__link"
      ><img
        src="/assets/images/background/footer-facebook.png"
        alt=""
        class="someContainer__img"
    /></a>
    <a href="https://www.youtube.com/" class="someContainer__link"
      ><img
        src="/assets/images/background/footer-youtube.png"
        alt=""
        class="someContainer__img"
    /></a>
    <a href="https://twitter.com/" class="someContainer__link"
      ><img
        src="/assets/images/background/footer-twitter.png"
        alt=""
        class="someContainer__img"
    /></a>
    <a href="https://dk.linkedin.com/" class="someContainer__link"
      ><img
        src="/assets/images/background/footer-linkedin.png"
        alt=""
        class="someContainer__img"
    /></a>
  </div>
</footer>
