<header class="headerContainer">
  <div class="headerContainer__iconContainer">
    <a href="" class="iconContainer__link">
      <img
        src="/assets/images/background/top-map.png"
        alt=""
        class="iconContainer__icon"
      />
    </a>
    <a href="" class="iconContainer__link">
      <img
        src="/assets/images/background/top-call.png"
        alt=""
        class="iconContainer__icon"
      />
    </a>
    <a href="" class="iconContainer__link">
      <img
        src="/assets/images/background/top-mail.png"
        alt=""
        class="iconContainer__icon"
      />
    </a>
  </div>
  <nav class="headerContainer__nav">
    <ul class="nav__ul">
      <li class="ul__li"><a href="../../index.html" class="li__a">HOME</a></li>
      <li class="ul__li"><a href="" class="li__a">ABOUT US</a></li>
      <li class="ul__li">
        <a href="../../brands/index.html" class="li__a">BRANDS</a>
      </li>
      <li class="ul__li"><a href="" class="li__a">BLOG</a></li>
      <li class="ul__li"><a href="" class="li__a">EVENTS</a></li>
      <li class="ul__li">
        <a href="../../ShopFront/index.html" class="li__a">SHOP</a>
      </li>
      <li class="ul__li"><a href="" class="li__a">CONTACT US</a></li>
    </ul>
  </nav>
</header>
