<% include ../partials/head %> <% include ../partials/header %>
<main class="brands__background">
  <div class="background__logoContainer">
    <h1 class="logoContainer__header">TOP BRANDS</h1>
    <img
      src="/assets/images/background/logo-white.png"
      alt="Logo"
      class="logoContainer__logo"
    />
  </div>
  <article class="background__brandsContainer">
    <div class="brandsContainer__brandLogoContainer">
      <p class="brandLogoContainer__text">
        Here are just a few of the brands we stock:
      </p>
      <img
        src="/assets/images/brands/brands.png"
        alt="Brands"
        class="logoContainer__img"
      />
    </div>
    <div class="brandsContainer__textContainer">
      <h1 class="textContainer__h1">BRANDS</h1>
      <p class="textContainer__p">
        As an independent retailer of home audio and visual products, we are
        able to select the very best brands and manufacturers from across the
        world. <br /><br />Not only do we have the best known brands such as
        B&W, Devialet, KEF, Naim, and Linn; we also stock and are well versified
        with smaller autonomous companies like Michell Engineering, Neat
        Acoustics, Harbeth, SME, Trichord Research, PrimaLuna, to name but a
        few. <br /><br />With over a hundred brands, we can happily say that if
        a brand meets our high standards for sound reproduction, then you can be
        assured to find it at Hi-Fi Corner.<br /><br />
      </p>
      <a href="/products/index.html" class="textContainer__link">VISIT OUR SHOP TO FIND MORE BRANDS></a>
    </div>
  </article>
</main>
<% include ../partials/footer %> <% include ../partials/after-footer %>
