<% include ../partials/head %> <% include ../partials/header %>
<div class="categoryPath">
  <template class="categorypathTemplate">
    <p class="categoryPath__home">Home</p>
    <i class="categoryPath__space">/</i>
    <p class="categoryPath__second">Amplifiers</p>
    <i class="categoryPath__space">/</i>
    <p class="categoryPath__third">Product name</p>
  </template>
</div>
<img src="/assets/images/relocation_banner.png" alt="" class="banner" />
<main class="productContainer">
  <template class="productTemplate">
    <img src="" alt="" class="productContainer__img" />
    <p class="productContainer__imgText">MORE VIEWS</p>
    <figure class="productContainer__moreImgContainer">
      <img src="" alt="" class="moreImgContainer__img" />
      <img src="" alt="" class="moreImgContainer__img1" />
    </figure>
    <h4 class="productContainer__bottomDescriptionHeader">DESCRIPTION</h4>
    <p class="productContainer__bottomDescriptionText">Lorem ipsum</p>
    <section class="productContainer__descriptionContainer">
      <h3 class="descriptionContainer__header">Marantz</h3>
      <div class="descriptionContainer__linkPriceContainer">
        <a href="" class="linkPriceContainer__link"
          >See other Marantz products</a
        >
        <h3 class="linkPriceContainer__price">£420</h3>
      </div>
      <p class="descriptionContainer__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, non.
        Porro corporis quaerat laudantium impedit amet, eos dolores voluptatibus
        recusandae!
      </p>
      <div class="descriptionContainer__productBtnContainer">
        <button class="productBtnContainer__btn">Ask a question</button>
        <button class="productBtnContainer__btn">Part exchange</button>
        <button class="productBtnContainer__btn">Pay by finance</button>
        <button class="productBtnContainer__btn">Seen a better price?</button>
      </div>
    </section>
    <div class="productContainer__buyBox">
      <h5 class="buyBox__h5">Finish</h5>
      <div class="buyBox__radioContainer">
        <label class="radioContainer__radio">
          <input type="radio" checked="checked" name="radio" />
          <span class="checkmark"></span>
          Black
        </label>
        <label class="radioContainer__radio">
          <input type="radio" name="radio" />
          <span class="checkmark"></span>
          Silver
        </label>
      </div>
      <div class="buyBox__qtyContainer">
        <label for="qty" class="qtyContainer__qtyText"
          >Qty:
          <input type="number" name="qty" id="" class="qtyContainer" />
        </label>
        <button class="qtyContainer__button">Add to cart</button>
      </div>
    </div>
    <div class="productContainer__addInfo">
      <h2 class="addInfo__header">additional information</h2>
      <div class="addInfo__contentContainer">
        <p class="contentContainer__infoKey">Manufacturer</p>
        <p class="contentContainer__infoKey">Manufacturer link</p>
        <p class="contentContainer__infoKey">Free warranty</p>
        <p class="contentContainer__infoKey">Delivery charge</p>
        <p class="contentContainer__infoKey">Delivery time</p>
        <p class="contentContainer__infoKey">Card surcharges</p>
        <p class="contentContainer__infoValue grid1">Marantz</p>
        <p class="contentContainer__infoValue grid2">Model</p>
        <p class="contentContainer__infoValue grid3">3 years</p>
        <p class="contentContainer__infoValue grid4">Free</p>
        <p class="contentContainer__infoValue grid5">1 - 5 Working Days</p>
        <p class="contentContainer__infoValue grid6">No</p>
      </div>
    </div>
  </template>
</main>
<% include ../partials/footer %>
<script src="/assets/javascript/getProduct.js"></script>
<% include ../partials/after-footer %>
