<% include ../partials/head %> 
<% include ../partials/header %>
<main class="categoryBackground">
  <div class="categoryBackground__categoryContainer">
    <a href="" class="categoryContainer__link category1"
      ><span class="link__text">SHOP BY BRAND</span></a
    >
    <a
      href="/products/index.html?product_category=Power%20amplifier"
      class="categoryContainer__link category2"
      ><span class="link__text">AMPLIFIERS</span></a
    >
    <a
      href="/products/index.html?product_category=Speakers"
      class="categoryContainer__link category3"
      ><span class="link__text">SPEAKERS</span></a
    >
    <a
      href="/products/index.html?product_category=Turntables"
      class="categoryContainer__link category4"
      ><span class="link__text">TURNTABLES</span></a
    >
    <a
      href="/products/index.html?product_category=CD%20player"
      class="categoryContainer__link category5"
      ><span class="link__text">CD PLAYERS</span></a
    >
    <a
      href="/products/index.html?product_category=DVD%20player"
      class="categoryContainer__link category6"
      ><span class="link__text">DVD PLAYERS</span></a
    >
    <a href="" class="categoryContainer__link category7"
      ><span class="link__text">CABLES</span></a
    >
    <a
      href="/products/index.html?product_category=Preamps"
      class="categoryContainer__link category8"
      ><span class="link__text">PREAMPS</span></a
    >
    <a href="" class="categoryContainer__link category9"
      ><span class="link__text">HEADPHONES</span></a
    >
    <a
      href="/products/index.html?product_category=Int%20amplifiers"
      class="categoryContainer__link category10"
      ><span class="link__text">INT AMPLIFIERS</span></a
    >
    <a href="" class="categoryContainer__link category11"
      ><span class="link__text">OUTLET - SAVE UP <br />TO 50% OFF</span></a
    >
    <a href="" class="categoryContainer__link category12"
      ><span class="link__text">EBAY SHOP</span></a
    >
    <a href="" class="categoryContainer__link category13"
      ><span class="link__text">CEILING SPEAKERS</span></a
    >
    <a href="" class="categoryContainer__link category14"
      ><span class="link__text">TVS</span></a
    >
    <a
      href="/products/index.html?product_category=Tube%20amplifiers"
      class="categoryContainer__link category15"
      ><span class="link__text">TUBE AMPLIFIERS</span></a
    >
    <a
      href="/products/index.html"
      class="categoryContainer__link category16"
      ><div class="link__overlay"></div>
      <span class="link__text link__text_shopNow">SHOP NOW</span></a
    >
  </div>
</main>
<% include ../partials/footer %> 
<% include ../partials/after-footer %>
