
$theme-color: #a39161;
$theme-color-faded: #a39161b7;
$item-color: #c0ab9f;
$item-color-hover: #706c71;
$color-white: #fff;
$color-black: #000;
$filter-background: #e1e1e1;
$border-shadow: rgba(0,0,0,.3);
$border-color: #c0c0c0;
