@import "variables";

/*  Blocks  */
.categoryPath{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 50px;
    padding-left: 20px;
}

.productContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 30px;
}

.productContainer__moreImgContainer{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding-top: 100px;
}

.productContainer__descriptionContainer{
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}

.descriptionContainer__productBtnContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.descriptionContainer__linkPriceContainer{
    display: flex;
    justify-content: space-between;
}

.productContainer__buyBox{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 1px solid $filter-background;
}

.buyBox__radioContainer{
    display: flex;
    flex-direction: column;
}

.buyBox__qtyContainer{
    margin-top: 30px;
    display: flex;
    align-items: center;
    background-color: $filter-background;
    padding: 20px 0 91px 20px;  
}

.productContainer__addInfo{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.addInfo__contentContainer{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1,2fr;
    border: 1px solid $border-color;
}

/*  Elements    */
.categoryPath__home{
    color: $theme-color;
}

.category__second{
    color: $theme-color;
}

.banner{
    padding: 15px;
    width: 97vw;
}

.productContainer__img{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: 300px;
    width: 400px;
    border: 1px solid $filter-background;
}

.productContainer__imgText{
    color: $theme-color;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding-top: 50px;
}

.productContainer__bottomDescriptionHeader{
    color: $theme-color;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.productContainer__bottomDescriptionText{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding-top: 30px;
}

.productBtnContainer__btn{
    background-color: $theme-color;
    border: 0;
    color: $color-white;
    width: 150px;
    height: 40px;
    text-transform: uppercase;
}

.productBtnContainer__btn:nth-child(4){
    width: 200px;
}

.descriptionContainer__header{
    color: $theme-color;
    margin-bottom: 20px;
}

.linkPriceContainer__link{
    color: $theme-color;
    text-decoration: none;
}

.linkPriceContainer__price{
    color: $theme-color;
}

.descriptionContainer__text{
    margin-top: 20px;
}

.buyBox__h5{
    color: $theme-color;
    padding: 10px 0 0 10px;
}

.radioContainer__radio{
    background-color: $filter-background;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin: 10px 0 0 10px;
}
.checkmark{
    padding-right: 10px;
}

.qtyContainer__qtyText{
    color: $theme-color;
}

.qtyContainer{
    width: 40px;
}

.qtyContainer{
    -webkit-appearance: none; 
}

.qtyContainer__button{
    background-color: $theme-color;
    border: 0;
    color: $color-white;
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    margin-left: 10px;
}

.addInfo__header{
    color: $theme-color;
    text-transform: uppercase;
    padding-top: 20px;

}

.contentContainer__infoKey{
    text-transform: uppercase;
    grid-column: 1 / 2;
    background-color: $filter-background;
    padding: 5px 10px;
    border: 1px solid $border-color;
}

.contentContainer__infoValue{
    grid-column: 2 / 3;
    padding: 5px 10px;
    border: 1px solid $border-color;
}

.grid1{
    grid-row: 1 / 2;
}

.grid2{
    grid-row: 2 / 3;
}

.grid3{
    grid-row: 3 / 4;
}

.grid4{
    grid-row: 4 / 5;
}

.grid5{
    grid-row: 5 / 6;
}

.grid6{
    grid-row: 6 / 7;
}

